<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Manag
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" asp-action="Index" asp-controller="DbManager" asp-area="Database">Database</a>
    <a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">Lien He</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>