@Model string

@{
    Layout = "_Layout";
}

<div style=" background: red; magin: 30px; padding: 30px;"> 
    <h1>Xin chao @Model</h1>
    <p> 
        Ban chuan bi di nau com 
    </p>
</div>
<hr>
@this.Path