@model webmvc.Models.ProdcutModel


<div class="card bg-primary text-white"> 
    <h1 class="card-header">@Model.productName</h1>
    <div class="card-body"> 
        <p class="card-text"> 
            Gia = @Model.Price
        </p>
    </div>

</div>