@model webmvc.Models.Blog.Category

@{
    ViewData["Title"] = "Xóa Chuyên muck";
}

<h1>@ViewData["Title"]</h1>

<h3>Bạn có chắc chắn muốn xóa</h3>
<div>
    
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Title)
        </dd>
     
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Danh Sách Chuyên Mục</a>
    </form>
</div>
