@model webmvc.Models.Blog.Category

@{
    ViewData["Title"] = Model.Title;
}

<h1>@ViewData["Title"]</h1>

<div>
    
    <dl class="row">
        
        <dt class = "col-sm-2">
            Nội dung
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Content)
            
        </dd>
        <dt class = "col-sm-2">
           URl
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
    <a asp-action="Index">Trỏ về danh mục</a>
</div>
